/* The project is designed to be optimal on a screen size of 1536 x 725 and is supported on the
Chrome browser. */

/* intro segment */

html {
    overflow: hidden;
}
body {
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom right, #1c4453, #1b2838); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    color: #c7d5e0;
    margin: 0;
    padding: 0;
}
.intro-segment {
    h1 {
        background-color: #171a21;
        padding: 23px 0 23px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
        width: inherit;
        .bi-controller {
            width: 30px;
            height: 30px;
        }
        #steam-games-title {
            font-weight: 600;
            font-size: 20px;
            margin: 0 15px 0 15px;
        }
        .group-members-text {
            font-weight: 600;
            font-size: 12px;
            margin: 0 5px 0 10px;
        }
        .group-members-title {
            color: #2597da;
            display: inline-block; 
            position: relative;
        }
        .group-members-title::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 100%;
            height: 3px; 
            background-color: #2597da;
            border-radius: 50px; 
        }
    }
    /* padding: 20px; */
    .description {
        width: 375px;
        padding: 20px;
        margin: 15px 0px 0px 20px;
        font-size: 15px;
        background: linear-gradient(to bottom right, rgba(26, 24, 33, 0.3), rgba(7, 7, 10, 0.4));
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }
    /* width: 25%; */
}

/* treemap */
.treemap {
    .slider{
        width: 700px;
        position: absolute;
        top: 95px;
        left: 415px;
        /* from referencign steam site */
        background: linear-gradient(90deg, #36618c 11.38%, #2f6387 25.23%, #192554 100%);
        padding: 10px 0px 5px 0px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        .form-range::-webkit-slider-runnable-track {
            height: 8px;
        }
        input[type="range"]::-webkit-slider-thumb {
            width: 16px;
            height: 16px;
            background: #66c0f4; 
        }
    }
    .description {
        background: linear-gradient(to bottom right, rgba(26, 24, 33, 0.3), rgba(7, 7, 10, 0.4));
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        padding: 15px 20px 15px 20px;
        margin-top: 7px;
        width: 375px;
        height: 160px;
        margin-left: 20px;
        position: relative;

        .legend {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 110px;
            width: 350px;
            padding-left: 10px;

            .average-rating-legend {
                margin-top: 25px;
            }
    
        }
        .legend-item {
            display: flex;
            align-items: center;
            font-size: 13px;
            gap: 10px;
            width: 50%;
        }
    
        .title {
            padding-bottom: 5px;
            font-size: 16px;
            font-weight: bold;
        }

        .bi-question-circle-fill {
            position: absolute;
            left: 340px;
            top: 20px;
        }
    }

    .graph {
        position: absolute;
        top: 175px;
        left: 415px;
        
    }
}

.form-range {
    width: -webkit-fill-available;
    margin: 0px 3% 0px 3%;
}

.slider-labels{
    display: flex;
    justify-content: space-between;
}

.slider-tick-label {
    width: 50px;
    text-align: center;
    font-size: 15px;
}

/* global tooltip */

.tooltip {
    position: absolute;
    background-color: rgb(234, 232, 232);
    color: black;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    pointer-events: none; /* Prevents interfering with mouse events */
    transition: opacity 0.2s ease-in-out;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    max-width: 250px;
}

#reset-button {
    position: absolute;
    top: 25px;
    right: 20px;
    background-color: #56740e;
    color: white;
    border-color: #56740e;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}

#reset-button.active:hover {
    background-color: #7b9f25;
}

#reset-button.active {
    color: white;
    background-color: #5c7e0f;
}

#loading-spinner {
    position: absolute;
    top: 25px;
    right: 270px;
    display: none;
}

#loading-spinner-treemap {
    position: absolute;
    top: 250px;
    left: 700px;
    height: 10rem;
    width: 10rem;
    z-index: 999;
    display: none;
}

/* bar chart */

.barchart {
    position: absolute;
    top: 95px;
    left: 1135px;
    /* padding: 10px; */
    padding-top: 10px;
    background: linear-gradient(to bottom right, rgba(26, 24, 33, 0.3), rgba(7, 7, 10, 0.4));
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    .bar {
        shape-rendering: crispEdges;
    }

    .bar.active {
        fill: #a5d92b;
    }
    
    .bar-chart-y-axis text {
        font-weight: bold;
        font-size: 13px;
        font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
        letter-spacing: 0.5px;
    }

    .title {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
    }

    .bi-question-circle-fill {
        position: absolute;
        left: 340px;
        top: 15px;
    }
}

/* streamgraph */
.streamgraph {
    position: absolute;
    top: 485px;

    .graph {
        position: absolute;

        left: 413px;
        padding: 3px;
        background: linear-gradient(to bottom right, rgba(26, 24, 33, 0.3), rgba(7, 7, 10, 0.4));
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }

    .description {
        background: linear-gradient(to bottom right, rgba(26, 24, 33, 0.3), rgba(7, 7, 10, 0.4));
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        padding: 20px;
        position: absolute;
        width: 375px;
        margin-left: 20px;
        height: 231px;

        .title {
            width: 375px;
            padding: 0px 0px 8px 0px;
            top: 50px;
            padding-bottom: 5px;
            font-size: 16px;
            font-weight: bold;
        }
    
        .legend {

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 350px;
            height: 175px;
            padding-left: 10px;

            .legend-item {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 13px;
                width: 50%;
            }
        }

        .bi-question-circle-fill {
            position: absolute;
            left: 340px;
            top: 20px;
        }
    }

    .tick {
        cursor: pointer;
    }

    .tick:hover {
        color: #2597da;
    }

    .tick.active:hover {
        color: #7b9f25;
    }

    .tick.active {
        color: #a5d92b;
    }
}
